<%- include('partials/header', {title: "Login Form"}) %>

    <% if(error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>
    
    <
        <form action="/login" method="POST">
    
            <label>Username</label><br>
            <input type="text" name="username"><br><br>
            <label>Password</label><br>
            <input type="text" name="password"><br><br>
    
            <input type="submit" value="Login">
        </form>

<%- include('partials/footer') %>